html {
    background-color: #00539F;
}

body{
    width: auto;
    margin: auto;
}

.header{
    text-align: center;
    display: table;
    width: 100%;
    margin: auto;
    font-size: 100%;
    background-color: darkslategray;
    border: 1px solid black;
}

.inner-header{
    text-align: center;
}

.logo-container{
    text-align: center;
    color: beige;
    float: left;
    padding-left: 30px;
}

.navigation{
    text-align: center;
    padding-right: 100px;
    float: right;


}

.navigation a{
    text-align: center;
    height: 100%;
    display: table;
    float: left;
    padding: 10px 10px;
    background-color: darkslategray;

}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
    padding-left: 50px;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.content_body{
    padding-left: 100px;
    background-position: 300px, 300px;
}

.content{
    text-align: justify;
    padding-right: 100px;

}
.content-img{
    float: left;
    background-position: 0px, 300px;
    margin: 0 10px 10px 0;
    width: 350px;
    height:350px
}

.social {display: inline-block;}
.social a {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 10px 10px 0;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
    margin-top: 7px;
    width: 32px;
    height: 32px;
}
.telegram a:hover {background: #249bd7;}
.vk a:hover {background: #4a76a8;}
.whatsapp a:hover {background: #50b154;}